################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BLC.CDN/obj/Debug
/.vs/BLC.CDN/v15
/.vs/BLC.CDN/v15/.suo
*.suo
